{% extends 'meal_plans/base.html' %} {% block page_header %}

<div class="row p-4">
  <div class="bg-dark text-white p-3 mb-5 text-center">
    <h2>Add Meal</h2>
  </div>

  {% endblock page_header %} {% block content %} {% load bootstrap5 %}
  <div class="col">
    <form method="post" class="form-control p-3">
      {% csrf_token %} {% bootstrap_form form %}
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-dark">Add Meal</button>
        <a
          href="{%  url 'meal_plans:search' %}"
          class="btn btn-outline-dark d-block"
          >Search meal</a
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
