{% extends 'meal_plans/base.html' %} {% block page_header %}

<div class="row bg-dark">
  <div class="col bg-success p-5">
    <div class="p-3 bg-dark text-white text-center mb-5">
      <h2>Create a Meal Plan</h2>
    </div>
    {% endblock page_header %} {% block content %} {% load bootstrap5 %}
    <form
      method="post"
      class="form-control p-5 mb-5"
      action="{% url 'meal_plans:meal_plan_create' %}"
    >
      {% csrf_token %} {% bootstrap_form form %}
      <button type="submit" class="btn btn-outline-dark d-block w-200">
        Create
      </button>
    </form>
    {% endblock %}
  </div>
</div>
