{% extends 'meal_plans/base.html' %} {% block page_header %}
<div class="pb-2 mb-2 border-bottom p-5 bg-dark text-white rounded mt-4">
  <h2>Delete Meal</h2>
</div>
{% endblock page_header %} {% block content %} {% load bootstrap5 %}

<p>Are you sure you want to delete the meal {{ meal.meal_name }}?</p>

<form
  method="post"
  class="tex-center"
  action="{% url 'meal_plans:meal_delete' meal.id %}"
>
  {% csrf_token %}
  <button type="submit" class="btn btn-md btn-info">Delete</button>
  <a href="{% url 'meal_plans:meal_list'%}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock content %}
