{% extends 'meal_plans/base.html' %} {% block page_header %}

<div class="row p-4">
  <div class="border-bottom bg-dark text-white text-center p-2 mb-2">
    <h2>Meal Plan Details</h2>
  </div>
</div>

{% endblock page_header %} {% block content %}

<div class="row p-3">
  <div class="col bg-light p-3 mb-3">
    <p>Meal Plan: {{ meal_plan.name }}</p>
    <p>Start Date: {{ meal_plan.start_date }}</p>
    <p>End Date: {{ meal_plan.end_date }}</p>
  </div>
</div>
<div class="row p-3">
  {% for meal in meal_plan.meal_set.all %} {% if meal %}
  <div class="col-md-4 bg-light mb-3 ml-3 p-3">
    <div>
      <h3>Meal details</h3>
    </div>
    <div class="mb-5">
      <h4>Meal Name: <span>{{ meal.meal_name }}</span></h4>

      <h4>Meal Time: <span>{{ meal.meal_time }}</span></h4>

      <h3>Date Added: <span>{{ meal.date_added }}</span></h3>
    </div>
    <div class="d-flex justify-content-between">
      <a
        href="{% url 'meal_plans:recipe_create'  meal_id=meal.id %}"
        class="btn btn-outline-dark"
        >Add Recipe</a
      >
      <a
        href="{% url 'meal_plans:meal_update'  meal_id=meal.id %}"
        class="btn btn-outline-dark"
        >Update Meal</a
      >
      <a
        href="{% url 'meal_plans:meal_delete'  meal_id=meal.id %}"
        class="btn btn-outline-dark"
        >Delete Meal</a
      >
    </div>
  </div>
  {% else %}

  <div>
    <a
      href="{% url 'meal_plans:add_meal' meal_plan_id=meal_plan.id %}"
      class="btn btn-outline-light"
      >Add Meal</a
    >
  </div>

  {% endif %} {% endfor %}
</div>

{% endblock content %}
