{% extends 'meal_plans/base.html' %} {% block page_header %}
<div class="row p-3">
  <div class="col">
    <div class="col p-3 mb-2 border-bottom p-3 bg-dark text-white rounded mt-4">
      <h2>Create Recipe</h2>
    </div>
    {% endblock page_header %} {% block content %} {% load bootstrap5 %}
    <form method="POST">
      {% csrf_token %} {% bootstrap_form form %}
      <button type="submit" class="btn btn-outline-light d-block w-100">
        Save
      </button>
    </form>
    {% endblock %}
  </div>
</div>
