{% extends 'meal_plans/base.html' %} {% block page_header %}
<div class="container">
  <div class="row bg-dark text-white text-center mb-5 p-3">
    <h1>Search Meals</h1>
  </div>
  {% endblock page_header %}{% block content %}
  <div class="row">
    <form method="GET" class="form-control p-3 text-center mb-2">
      <input type="text" name="query" placeholder="Enter your search query" />
      <button type="submit">Search</button>
    </form>

    {% if result %}
    <div class="bg-white p-5">
      <h2 class="text-center">Search Results</h2>
      <div>
        <div class="text-center">
          <img
            src="{{ result.recipe.image }}"
            alt="{{ result.recipe.label }}"
            class="img-thumbnail d-block mx-auto"
          />
          <h3>{{ result.recipe.label }}</h3>
        </div>

        <h3>Ingredients</h3>
        <ul>
          {% for ingredient in result.recipe.ingredientLines %}
          <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>

        <h3>Instructions</h3>
        {% for instruction in result.recipe.ingredients %}
        <span>{{ instruction.text }}</span>, {% endfor %}
        <h3>Health Benifits</h3>
        <ul>
          {% for health in result.recipe.healthLabels %}
          <li>{{ health }}</li>
          {% endfor %}
        </ul>

        <h3>Meal Time</h3>
        {% for mealTime in result.recipe.mealType %}
        <p>{{ mealTime }}</p>

        {% endfor %}
      </div>
      <p>
        Need to search again?
        <a href="{% url 'meal_plans:search' %}" class="btn btn-outline-dark"
          >Search</a
        >
      </p>
      <p>
        Need to add it to the meal?
        <a
          href="{% url 'meal_plans:meal_plan_list' %}"
          class="btn btn-outline-dark"
          >Create meal plan</a
        >
      </p>
      {% elif results %}
      <p>
        The recipe you are looking was not found but you can search among the
        following suggestions
      </p>
      <ul>
        {% for result in results %}
        <li>{{ result.recipe.label }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="col">
        <p>Enter the name of the recipe you want to search</p>
      </div>
      {% endif %}{% endblock content %}
    </div>
  </div>
</div>
